/* add home page styles here */
li{

list-style: none;
align-items: center;
justify-content: center;
padding: 20px;
}

ul{
    border: palevioletred;
    border-style: dotted;
    border-width: 5px;
    display: flex;
    flex-wrap: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

img{
    height: 300px;
    width: 400px;
}